.App {
  text-align: center;
  background-color: (linear-gradient(to left, #2d8fe5, #d155b8));
  transform: scale(1.2);
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
     animation: App-logo-spin infinite 1ms reverse; 
     /* animation-duration: 0.5s; */
  }
}

.App-header {
  background-image: url('./spiral.png');
  border-image: url(./spiral.png) 290 round;
  background-repeat:round;
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: blueviolet;
}
img {
  border-radius: 60%;
  box-shadow: 0 0 8px 8px white inset;
  backdrop-filter: blur(7px);
;
}

.App-link {
  color: orangered;
}
.container {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  margin: 12px;
  padding: 12px;
}
.stepA {
  margin: 12px;
  padding: 12px;
  border-color:chartreuse;
  border-style:dotted;
  border-width: 8px;
  
  font-family: "Lucida Console", "Courier New", monospace;
}
.stepB {
  margin: 12px;
  padding: 12px;
  border-style:dotted;
  border-width: 8px;
  border-color: yellow;
  font-family: 'Brush Script MT', cursive;
}
.stepC {
  margin: 12px;
  padding: 12px;
  border-style:double;
  border-width: 8px;
  border-color: yellow;
  font-family: Copperplate, Papyrus, fantasy;
}
.stepD {
  margin: 12px;
  padding: 12px;
  border-style:double;
  border-width: 6px;
  border-color: royalblue;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
